// Colors
$basic-white: #ffffff;
$basic-black: #000000;
$basic-black2: #111111;
$basic-green: #68b738;
$basic-light-grey: #d9d9d9;
$basic-grey: #f2f2f2;
$special-grey2: #ebebeb;
$special-dark-grey: #444444;
$special-dark-grey2: #222222;

img {
  max-width: 100%;
  height: auto;
}

.button {
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  line-height: 0px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-white;
  background-color: $basic-green;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
