.form {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 34px;
}

.form__title {
  font-size: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  line-height: 36px;
  color: $basic-black;
  margin-top: 27px;
}

.form__text {
  font-size: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-black;
  margin-top: 37px;
  margin-bottom: 39px;
}
